name: Sphinx Docs

on:
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  get_notebooks:
    name: Get list of notebooks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout mrpro repo
        uses: actions/checkout@v4

      - id: set-matrix
        run: |
          echo "notebooks=$(find examples -type f -name '*.ipynb' | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT

      - name: Notebook overview
        run: |
          echo "jupyter-notebooks: ${{ steps.set-matrix.outputs.notebooks }}"
    outputs:
      notebooks: ${{ steps.set-matrix.outputs.notebooks }}

  run_notebook:
    name: Run notebook
    needs: get_notebooks
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ptb-mr/mrpro_py311:latest
      options: --user root
    strategy:
      fail-fast: false
      matrix:
        notebook: ${{ fromJson(needs.get_notebooks.outputs.notebooks) }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install mrpro and dependencies
        run: pip install --upgrade --upgrade-strategy "eager" .[notebook]

      - name: Notebook name
        run: |
          echo "current jupyter-notebook: ${{ matrix.notebook }}"

      - name: Run notebook
        uses: fzimmermann89/run-notebook@v3
        env:
          RUNNER: ${{ toJson(runner) }}
        with:
          notebook: ./${{ matrix.notebook }}

      - name: Get artifact names
        id: artifact_names
        run: |
          notebook=${{ matrix.notebook }}
          echo "ARTIFACT_NAME=$(basename ${notebook/.ipynb})" >> $GITHUB_OUTPUT
          echo "IPYNB_EXECUTED=$(basename $notebook)" >> $GITHUB_OUTPUT

      - name: Upload notebook
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ steps.artifact_names.outputs.ARTIFACT_NAME }}
          path: ${{ github.workspace }}/nb-runner.out/${{ steps.artifact_names.outputs.IPYNB_EXECUTED }}
        env:
          RUNNER: ${{ toJson(runner) }}

  create_documentation:
    name: Build and deploy documentation
    needs: run_notebook
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ptb-mr/mrpro_py311:latest
      options: --user runner
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install mrpro and dependencies
        run: pip install --upgrade --upgrade-strategy "eager" .[docs]

      - name: Download executed notebook ipynb files
        id: download
        uses: actions/download-artifact@v4
        with:
          path: ./docs/source/_notebooks/
          merge-multiple: true

      - name: Build docs
        run: |
          sphinx-build -b html ./docs/source ./docs/build/html
          rm -rf ./docs/build/html/.doctrees

      - name: Save Documentation
        id: save_docu
        uses: actions/upload-artifact@v4
        with:
          name: Documentation
          path: docs/build/html/

      - run: echo 'Artifact url ${{ steps.save_docu.outputs.artifact-url }}'

      - run: echo 'Event number ${{ github.event.number }}'

      - run: echo 'Event name ${{github.event_name}}'

      - name: Save documentation info
        run: |
          echo '{"pr_number": "${{ github.event.pull_request.number }}",' > docs_data.json
          echo '"event_number": "${{ github.event.number }}",' >> docs_data.json
          echo '"event_name": "${{ github.event_name }}",' >> docs_data.json
          echo '"artifact_url": "${{ steps.save_docu.outputs.artifact-url }}"}' >> docs_data.json

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-data
          path: docs_data.json
          if-no-files-found: error

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

  # Cancel in-progress runs when a new workflow with the same group name is triggered
  cancel-in-progress: true
